<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div>
    <div class="p-3 m-3">
        <div class = "card bg-dark">
            <div class="card-header bg-light">
                <h3>Liste des Patients</h3>
            </div>
            <div class="card-body bg-dark"><!--class="form-check-inline m-1" class="form-control"-->
                <form method="get" th:action="@{index}" >
                    <input  type="text" placeholder="Enter the Keyword" name = "keyword" th:value="${keyword}"/>
                    <button type="submit" class="btn btn-outline-info">
                        <i class="bi bi-search" > </i>
                    </button>
                </form>
            </div>
            <table class="table table-dark table-striped rounded">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>DateDeNaissance</th>
                    <th>Malade</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient : ${listPatients}">
                    <td th:text="${patient.id}"></td>
                    <td th:text="${patient.nom}"></td>
                    <td th:text="${patient.prenom}"></td>
                    <td th:text="${patient.dateNaissance}"></td>
                    <td th:text="${patient.malade}"></td>
                    <td th:text="${patient.score}"></td>
                    <td>
                        <a onclick="javascript:return confirm('Etes vous sure ?')" th:href="@{delete(id=${p.id},keyword =${keyword},page=${currentPage})}" class="btn btn-danger">
                            <i class="bi bi-trash" > </i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li  th:each="page,item:${pages}">
                    <a th:text="${item.index}"
                       th:href="@{/index(page=${item.index},keyword=${keyword})}"
                       th:class="${currentPage==item.index?'btn btn-info ms-2 ': 'btn btn-outline-info ms-2'}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>